.error-page {
  color: #ff6060;
  text-align: center;
  margin-bottom: 155px;
}

.error-number {
  font-size: 288px;
  font-weight: 900;
  margin-bottom: -80px;
}

.error-text {
  font-size: 36px;
  font-weight: 500;
  margin-bottom: 150px;
}

.error-to-home {
  text-decoration: underline;
}
